<form class="{{cssClass}}" autocomplete="off">
<table>
  <!-- left side -->
  <tr>
    <td>
      <h1>{{localize "nkrbz.Common.Title"}}</h1>
      {{localize "nkrbz.Common.SubTitle"}}
    </td>
    <!-- right side -->
    <td>
sd
    </td>
  </tr>
</table>
</form>