.profile-img {
  border: none;
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
}

.hidden {
  display: none;
}

.editor {
  height: 200px;
}

table {
  margin: 0;
  border: 0;
  flex: 0;
}


.actor-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.actor-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.actor-img {
  width: 290px
}

.actor-skills h3 {
  width: 90%
}

.actor-skills ul, .actor-labels ul, .actor-head-input ul, .actor-title ul, .actor-QuickAction, .actor-injury {
  padding: 0;
}
.actor-skills li, .actor-labels li, .actor-head-input li, .actor-title li, .actor-QuickAction li, .actor-injury li {
  list-style: none;
  margin-left: 0;
}

.actor-labels li {
  text-align: right;
  line-height: 26px;
}

.actor-title li {
  text-align: center;
}

.actor-title li:first-child {
  font-weight: bold;
  font-size: large;
}

.actor-title li:last-child {
  font-weight: lighter;
}

.stblock-caption {
  text-align: center;
  background-color:darkgrey;
}

.actor-attr-block {
  margin: 0 15px 0;
}

.actor-attrs {
  width: 25px;
}